<!DOCTYPE html>

<html lang="pt-BR">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body class="dark-mode">
		<div id="app-container">
			<%- include('../../partials/header'); %>

			<main>
				<div class="painel">
					<% if (expenses.length) { %>

					<ul class="list">
						<% expenses.forEach((item) => { %>
						<li class="list-item w-border w-icon" tabindex="0">
							<div class="icon" style="<%= 'background-color: ' + getStatusColor(item) + '33' %>">
								<i class="material-icons" style="<%= 'color: ' + getStatusColor(item) %>">
									<%= getStatusIcon(item) %>
								</i>
							</div>

							<div class="main">
								<span class="text-secondary"><%= item.account.title %></span>
								<span class="text-primary"><%= item.title %></span>
							</div>

							<div class="extra">
								<span class="text-primary"><%= formatMoney(item.amount) %></span>
								<span class="text-secondary"><%= formatDate(item.dueDate) %></span>
							</div>
						</li>
						<% }); %>
					</ul>
					<%} else { %>
					<span>No expense found.</span>
					<% } %>
				</div>
			</main>

			<button id="bt-add-expense" class="floating-action">
				<i class="material-icons">add</i>
			</button>

			<%- include('../../partials/foot'); %>

			<script src="/js/expenses.js"></script>
		</div>
	</body>
</html>
