<!DOCTYPE html>

<html lang="pt-BR">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header', { goBack: 'compact' }); %></header>

		<main>
			<div class="card no-border">
				<p><strong>ID</strong> <%= todo.id %></p>

				<p><strong>Title</strong> <%= todo.title %></p>

				<p><strong>Status </strong> <%= todo.completed ? 'Completed' : 'Incomplete' %></p>

				<p>
					<a href="/">Home</a>
				</p>
			</div>

			<div>
				<p style="padding-left: 16px;"><strong>Comments</strong></p>

				<ul style="padding: 0 40px;">
					<% comments.forEach((comment) => { %>

					<li>
						<div class="card">
							<p>
								<strong
									><%= [comment.name.split(' ')[0], comment.name.split(' ')[comment.name.split(' ').length - 1]].join(' ') %></strong
								>
								<%= comment.email.toLowerCase() %>
							</p>

							<p>"<%= comment.body %>"</p>
						</div>
					</li>

					<% }) %>
				</ul>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
